<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>
    <% include ../partials/scaffolding.ejs %>
    <div id='splashscreen'>
        Loading recipe...
    </div>
    <script type="module">
        import './styled-card.js';
    </script>
    <% if (records.length) { %>
        <styled-card>
            <br>
            <strong><%= records.length %> results</strong> for "<%= tag %>".
            <br>
            <br>
            <% records.forEach(record => { %>
                <a href="/g/<%= record[0] %>"><%= record[1] %></a>
                <br>
                <small style="font-size: xx-small; color: #555;">
                    <%= record[0] %>
                </small>
                <br><br>
            <% }) %>
        </styled-card>
    <% } else { %>
        <styled-card>
            <br>
            Sorry, there are no records for "<%= tag %>".
        </styled-card>
    <% } %>
</body>
</html>
